<a href="https://colab.research.google.com/github/ejrtks1020/baekjoon_practice/blob/main/%EB%B0%B1%EC%A4%80_%ED%8C%8C%EC%9D%B4%EC%8D%AC_51_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#5
n = int(input())

for i in range(n):
  print(i + 1)

5
1
2
3
4
5

In [ ]:
#6
n = int(input())

for i in range(n, 0, -1):
  print(i)

5
5
4
3
2
1

In [ ]:
#7
n = int(input())

for i in range(9):
  print(f'{n} * {i+1} = {n * (i + 1)}')

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
#8
n = int(input())

for i in range(n):
  print('*' * (i + 1))

5
*
**
***
****
*****

In [ ]:
#9
n = int(input())

for i in range(n):
  print(' ' * (n-(i+1)) + '*' * (i+1))

5
    *
   **
  ***
 ****
*****

In [ ]:
#10
n = int(input())

for i in range(n):
  print('*' * (n - i))

5
*****
****
***
**
*

In [ ]:
#11
n = int(input())

for i in range(n):
  print(' ' * i +  '*' * (n - i))

5
*****
 ****
  ***
   **
    *

In [ ]:
#12
n = int(input())
x = 0

for i in range(n):
  x += i+1
print(x)

3
6

In [ ]:
#13
a, b = map(int, input().split())
l = []
for i in range(1, min(a,b)+1):
  if a % i == 0 and b % i == 0:
    l.append(i)
print(max(l))

k = 1
while True:
  if (a * k) % b == 0:
    break
  k += 1

print(a * k)

24 18
6
72

In [ ]:
#14
n =  int(input())
arr = [0, 1]
for i in range(2, n+1):
  arr.append(arr[i-2] + arr[i-1])

print(arr[n])

90
2880067194370816120

In [ ]:
#15
price = int(input())
l = []
for i in range(9):
  l.append(int(input()))

print(price - sum(l))

9850
1050
800
420
380
600
820
2400
1800
980
600

In [ ]:
#16
n = int(input())
l = []
for i in range(n):
  a, b = map(int, input().split())
  l.append(a + b)

for i in range(len(l)):
  print(l[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

In [ ]:
#17
l = []
while True:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  
  l.append(a+b)

for i in range(len(l)):
  print(l[i])

1 1
2 3
3 4
9 8
5 2
0 0
2
5
7
17
7

In [ ]:
n = int(input())
l0 = []
l1 = []
for i in range(n):
  m = int(input())
  l2 = []
  l3 = []

  for j in range(m):
    a, b = map(float, input().split())
    l2.append(a * b)
    l3.append(a)
  
  l0.append(int(sum(l3)))
  l1.append( round(sum(l2) / sum(l3), 1) )

for total , gpa in zip(l0, l1):
  print(total , gpa)

2
4
3 4.3
2 2
4 0.0
2 4.0
3
4 0.0
4 0
3 0
11 2.3
11 0.0

In [ ]:
n = int(input())
x = 0
for i in range(n):
  a, b = map(int, input().split())
  x += b % a

print(x)

5
24 52
13 22
5 53
23 10
7 70
26

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n-i-1) + '*' * (2 * i + 1))

5
    *
   ***
  *****
 *******
*********

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i + '*' * ((2 * n - 1) - 2 * i))

5
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n-i-1) + '*' * (2 * i + 1))

for i in range(1, n):
  print(' ' * i + '*' * ((2 * n - 1) - 2 * i))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input())

for i in range(n):
  print(' ' * (n-1-i) + '*' * (i + 1))

for i in range(1, n):
  print(' ' * i + '*' * (n - i))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
n = int(input())

for i in range(n):
  print( '*' * (i + 1))

for i in range(1, n):
  print('*' * (n-i))

3
*
**
***
**
*

In [ ]:
n = int(input())
l = []
for i in range(n):
  price = int(input())
  options = int(input())
  opt_price = []

  for j in range(options):
    p, q = map(int, input().split())
    opt_price.append(p * q)
  
  l.append(price + sum(opt_price))

for i in l:
  print(i)

2
10000
2
1 2000
3 400
50000
0
13200
50000

In [ ]:
n = int(input())
for i in range(n):
  print('*' * (1 + i) + ' ' * (2 * n - 2 * (i + 1)) + '*' * (1 + i))

for i in range(n):
  print('*' * (n - (i + 1)) + ' ' * ( 2 * i + 2) + '*' * (n - (1 + i)))

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * i + '*' * (2*n-1 - 2 * i))

for i in range(n-1):
  print(' ' * (n-2 - i) + '*' * (2 * i + 3))

9
*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [ ]:
import sys
n = int(sys.stdin.readline())

sum = 0
for i in range(n):
  m = int(input())
  sum += m

print(sum - (n-1))

ValueError: ignored

In [ ]:
total = 0
for i in range(5):
  n = int(input())
  total += n

print(total)

1
2
3
4
5
15

In [ ]:
n = int(input())

for i in range(n):
  total_candy , sons = map(int, input().split())
  print(f'You get {total_candy // sons} piece(s) and your dad gets {total_candy % sons} piece(s).')

1
10 3
You get 3 piece(s) and your dad gets 1 piece(s).

In [ ]:
n = int(input())
for i in range(n):
  a, b = map(int, input().split())
  print(f'Case {i+1}: {a+b}')

5
1 2
Case 1: 3
3 5
Case 2: 8
2 2
Case 3: 4
3 3
Case 4: 6
4 4
Case 5: 8

In [ ]:
n = int(input())
for i in range(n):
  a, b = map(int, input().split())
  print(b+2-a)

2
8 12
6
4 6
4

In [ ]:
n = int(input())
def f(n):
  if n == 1:
    return 3
  return int(f(n-1) + n * (n + 1) + n * (n+1)/2)

print(f(n))
#3 - 9 - 12 -18- 30

3
30

In [ ]:
n = int(input())

for i in range(n):
  s = '*' * n
  if i % 2 == 1:
    print(' ' + ' '.join(s))
  else:
    print(' '.join(s))

5
* * * * *
 * * * * *
* * * * *
 * * * * *
* * * * *

In [ ]:
n = int(input())
for i in range(n):
  print(' ' * (n-1-i) + ' '.join('*' * (i + 1)))

3
  *
 * *
* * *

In [ ]:
n, x = map(int, input().split())
l = map(int, input().split())
k = []
for i in l:
  if i < x:
    print(i, end =' ')

10 5
1 10 4 9 2 3 8 5 7 6
1423

In [ ]:
n = int(input())
def f(n):
  if n == 1:
    return 1
  return n * f(n-1)

print(f(n))

12
479001600

In [ ]:
n = int(input())

l = []
for i in range(n):
  l.append(i+1)

x = 1
for i in range(n):
  x *= l[i]

print(x)

10
3628800

In [ ]:
n = int(input())
l = map(int, input().split())
count = 0
for i in l:
  if i != 1:
    c = 0
    for j in range(1,i):
      if i % j == 0:
        c += 1
    
    if c == 1:
      count += 1

print(count)

5
2 5 7 15 6
3

문제
자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

입력
입력의 첫째 줄에 M이, 둘째 줄에 N이 주어진다.

M과 N은 10,000이하의 자연수이며, M은 N보다 작거나 같다.

출력
M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다. 

단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

In [ ]:
def prime_list(n):
    n += 1
    sieve = [True] * n
    m = int(n ** 0.5)
    for i in range(2, m + 1):
        if sieve[i] == True:
            for j in range(i+i, n, i): 
                sieve[j] = False
    return [i for i in range(2, n) if sieve[i] == True]

m =int(input())
n = int(input())

l = prime_list(n)
l = [i for i in l if i >= m]

if len(l) == 0:
  print(-1)
else:
  print(sum(l))
  print(min(l))

1
5
10
2

입력
첫째 줄에 N과 K가 빈칸을 사이에 두고 주어진다. N은 1 이상 10,000 이하이다. K는 1 이상 N 이하이다.

출력
첫째 줄에 N의 약수들 중 K번째로 작은 수를 출력한다. 만일 N의 약수의 개수가 K개보다 적어서 K번째 약수가 존재하지 않을 경우에는 0을 출력하시오.

In [ ]:
n, k = map(int, input().split())

l = []
for i in range(1, n+1):
  if n % i == 0:
    l.append(i)

if len(l) < k:
  print(0)
else:
  print(l[k-1])

2735 1
[1, 5, 547, 2735]
1

입력
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

출력
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [ ]:
l = []
for i in range(9):
  l.append(int(input()))

print(max(l))
print(l.index(max(l)) + 1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
x = [1,2,3,4]
x.index(max(x))

3

In [ ]:
l = map(int, input().split())
x=0
for i in l:
  x += i ** 2

print(x % 10)

0 4 2 5 6
1

In [ ]:
n = int(input())

l = [0, 1]
for i in range(2, n+1):
  l.append(l[i-2] + l[i-1])

print(l[n])

10
55

In [ ]:
l = []
for i in range(7):
  x = int(input())
  if x % 2 == 1:
    l.append(x)

if l == []:
  print(-1)
else:    
  l.sort()
  print(sum(l))
  print(l[0])

SyntaxError: ignored

In [ ]:
n = int(input())

for i in range(n):
  k = int(input())
  l = map(int, input().split())
  print(sum(l))

2
5
1 1 1 1 1
5
7
1 2 3 4 5 6 7
28

In [ ]:
for i in range(3):
  l = list(map(int,input().split()))
  if sum(l) == 3:
    print('A')
  elif sum(l) == 2:
    print('B')
  elif sum(l) == 1:
    print('C')
  elif sum(l) == 0:
    print('D')
  elif sum(l) == 4:
    print('E')

0 0 0 0
[0, 0, 0, 0]
D
1 1 1 1
[1, 1, 1, 1]
E
1 1 0 0
[1, 1, 0, 0]
B

In [ ]:
n = int(input())
l = list(map(int, input().split()))
c = 0
for i in l:
  if n == i:
    c += 1

print(c)

3
1 2 3 5 3
2

In [ ]:
n = int(input())

l = list(map(int, input().split()))
for i in range(n):
  if i != 0:
    if l[i] == 1:
      l[i] = l[i-1] + 1

print(sum(l))

10
1 0 1 1 1 0 0 1 1 0
10

In [ ]:
n = int(input())
l = list(map(int,input().split()))
k = [0] * n
for i in range(len(l)):
  k[i] = (l[i] / max(l)) * 100

x = 0
for i in k:
  x += i
print(x / n)

3
10 20 30
[10, 20, 30]
[33.33333333333333, 66.66666666666666, 100.0]
66.66666666666667

In [ ]:
max(l)

60.00000000000001

In [ ]:
l = []
for i in range(4):
  out = int(input())

In [ ]:
l = []
for i in range(4):
  out, in_ = map(int, input().split())
  if i == 0:
    l.append(in_)
  else:
    l.append(l[i-1] - out + in_)

print(max(l))

0 32
3 13
28 25
39 0
42