<a href="https://colab.research.google.com/github/ejrtks1020/baekjoon_practice/blob/main/%EB%B0%B1%EC%A4%80_%ED%8C%8C%EC%9D%B4%EC%8D%AC_101_~_150.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = list(map(list, input().split()))

for i in range(2):

  temp = l[i][0]
  l[i][0] = l[i][2]
  l[i][2] = temp
  l[i] = int(''.join(l[i]))

print(max(l))

734 893
437

In [ ]:
l = []
for i in range(10):
  out, in_ = map(int, input().split())
  if i == 0:
    l.append(in_)
  else:
    l.append(l[i-1] - out + in_)

print(max(l))

0 32
3 13
28 25
17 5
21 20
11 0
12 12
4 2
0 8
21 0
42

In [ ]:
a = 1
for i in range(3):
  k = int(input())
  a *= k

a = list(str(a))
for i in range(10):
  print(a.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
x = []
y = []
k = 0
for i in range(10):
  s = int(input())
  k += s
  x.append(s)

for i in set(x):
  y.append(x.count(i))
print(k//10)
print(list(set(x))[y.index(max(y))])

10
40
30
60
30
20
60
30
40
50
37
30

In [ ]:
n = int(input())

for i in range(n):
  a, b = input().split()
  a= int(a)
  print(b[:a-1] + b[a:])

4
4 MISSPELL
MISPELL
1 PROGRAMMING
ROGRAMMING
7 CONTEST
CONTES
3 BALLOON
BALOON

In [ ]:
l = []
for i in range(5):
  s = map(int, input().split())
  l.append(sum(s))

print(l.index(max(l))+1 ,max(l))

4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4
2 17

In [ ]:
l = []
for i in range(10):
  n = int(input())
  l.append(n % 42)

print(len(set(l)))

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
l = []
i = 1
a, b = map(int, input().split())
while True:
  for j in range(i):
    l.append(i)
  if len(l) >= b:
    break
  i += 1
  
print(sum(l[a-1 : b]))

3 5
8

In [ ]:
t =int(input())
for i in range(t):
  n = int(input())
  k = 0
  for i in range(21):
    if 2 ** i > n:
      k = i-1
      break
  
  l = []
  for i in range(k,  -1, -1):
    if n // (2**i) == 1:
      l.append(1)
      n = n % (2 ** i)
    else:
      l.append(0)

  l.reverse()
  for i in range(len(l)):
    if l[i] == 1:
      if i == len(l) - 1:
        print(i)
      else:
        print(i, end = ' ')

2
2
[0, 1]
1
9
[1, 0, 0, 1]
0 3

In [ ]:
1 2 ** 20

1048576

In [ ]:
10 ** 6

1000000

In [ ]:
bin(9)

'0b1001'

In [ ]:
n = int(input())
l = map(int, input().split())
num = int(input())
c = 0
for i in l:
  if i == num:
    c += 1

print(c)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
n = int(input())
l = list(map(int, input().split()))
print(min(l), max(l))

5
20 10 35 30 7
7 35

In [ ]:
n = int(input())
for i in range(n):
  k = int(input())
  l = list(map(int, input().split()))
  l.sort()
  
  print((max(l)-min(l)) * 2)

1
4
24 13 89 37
152

In [ ]:
l = []
for i in range(8):
  l.append(int(input()))

l2 = sorted(l,reverse=True)[:5]

print(sum(l2))
for i in range(len(l)):
  if l[i] in l2:
    print(i+1, end = ' ')

20
30
50
48
33
66
0
64
261
3 4 5 6 8

In [ ]:
n = int(input())
l = []
for i in range(n):
  l.append(int(input()))
for i in sorted(l):
  print(i)

5
5
2
3
4
1
1
2
3
4
5

In [ ]:
l = sorted(list(map(int, input().split())))
for i in range(3):
  print(l[i], end = ' ')

111 555 66
66 111 555

In [ ]:
n = int(input())
l = list(map(int,input().split()))
print(min(l) * max(l))

1
3
9

In [ ]:
l = []
for i in range(5):
  l.append(int(input()))

print(min(l[:3]) + min(l[3:]) - 50)

800
700
900
198
330
848

In [ ]:
l = []
for i in range(5):
  l.append(int(input()))

print(sum(l) // 5)
print(sorted(l)[2])

10
40
30
60
30
34
30

In [ ]:
for i in sorted(map(int, list(input())), reverse=True):
  print(i, end='')

2143
4321

In [ ]:
l = []
f = False
for i in range(9):
  l.append(int(input()))

for i in range(8):
  for j in range(i, 8):
    k = l.copy()
    del k[i]
    del k[j]
    if sum(k) == 100:
      for m in sorted(k):
        print(m)
      f = True
  if f:
    break


#1 2 3 4 5 6 7 8 9

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

In [ ]:
type(k)

list

In [ ]:
p = [1,2 ,3]
del p[0], p[1]

In [ ]:
n = int(input())

for i in range(n):
  l = list(map(int, input().split()))
  l.remove(max(l))
  l.remove(min(l))
  if max(l) - min(l) >= 4:
    print('KIN')
  else:
    print(sum(l))

4
10 8 5 7 9
24
10 9 10 9 5
28
10 3 5 9 10
KIN
1 2 3 6 9
KIN

In [ ]:
n = int(input())

for i in range(n):
  l = sorted(list(map(int, input().split())), reverse = True)
  print(l[2])

4
1 2 3 4 5 6 7 8 9 1000
8
338 304 619 95 343 496 489 116 98 127
489
931 240 986 894 826 640 965 833 136 138
931
940 955 364 188 133 254 501 122 768 408
768

In [ ]:
n = int(input())
for i in range(n):
  p, m = map(int, input().split())
  seat = []
  for j in range(p):
    seat.append(int(input()))
  print(p - len(set(seat)))

3
4 1
1
1
1
1
3
4 4
1
2
3
4
0
4 4
1
4
1
4
2

In [ ]:
k = int(input())
l = []
for i in range(k):
  n = int(input())
  if n != 0:
    l.append(n)
  else:
    l.pop()

print(sum(l))

10
1
3
5
4
0
0
7
0
0
6
7

In [ ]:
l = []
flag = False
for i in range(9):
  l.append(int(input()))

for i in range(8):
  for j in range(i , 8):
    l2 = l.copy()
    del l2[i]
    del l2[j]
    if sum(l2) == 100:
      flag = True
      l = l2.copy()
      break
  if flag:
    break

for i in l:
  print(i)

7
8
10
13
15
19
20
23
25
7
8
10
13
19
20
23

In [ ]:
s = list(input())

alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p','q','r','s','t','u', 'v', 'w', 'x','y','z']
l = []
for i in alphabet:
  if i in s:
    l.append(s.index(i))
  else:
    l.append(-1)

for i in l:
  print(i, end =' ')

baekjoon
['b', 'a', 'e', 'k', 'j', 'o', 'o', 'n']
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
bl

NameError: ignored

In [ ]:
n = int(input())

for i in range(n):
  l = map(int, input().split())
  l2 = []
  for j in l:
    if j % 2 == 0:
      l2.append(j)
  
  print(sum(l2), min(l2))

2
1 2 3 4 5 6 7
12 2
13 78 39 42 54 93 86
260 42

In [ ]:
k = int(input())

for i in range(k):
  l = list(map(int, input().split()))
  l2 = sorted(l[1:], reverse= True)
  gap = []
  for j in range(len(l2)-1):
    gap.append(l2[j] - l2[j+1])
  print("Class", i+1)
  print(f"Max {l2[0]}, Min {l2[-1]}, Largest gap {max(gap)}")

2
5 30 25 76 23 78
Class 1
Max 78, Min 23, Largest gap 46
6 25 50 70 99 70 90
Class 2
Max 99, Min 25, Largest gap 25

In [ ]:
n = int(input())

f = [0, 1]
for i in range(2, n+1):
  f.append(f[i-1] + f[i-2])

print(f[n])

10
55

In [ ]:
w = []
k = []
for i in range(20):
  x = int(input())
  if i < 10:
    w.append(x)
  else:
    k.append(x)

print(sum(sorted(w, reverse=True)[:3]), sum(sorted(k, reverse=True)[:3]))

23
23
20
15
15
14
13
9
7
6
25
19
17
17
16
13
12
11
9
5
66 61

In [ ]:
n , k = map(int, input().split())
val = []
for i in range(n):
  val.append(int(input()))

total = 0
for i in sorted(val, reverse=True):
  total += k // i
  k = k % i

print(total)

10 4200
1
5
10
50
100
500
1000
5000
10000
50000
6

In [ ]:
print(len(input()))

pulljima
8

In [ ]:
s = list(input())

low = []
up = []
for i in range(len(s)):
  if s[i] == s[i].lower():
    s[i] = s[i].upper()
  elif s[i] == s[i].upper():
    s[i] = s[i].lower()

print(''.join(s))

WrongAnswer
wRONGaNSWER

In [ ]:
n = int(input())
for i in range(5):
  a, b = map(int, input().split(','))
  print(a + b)

5
1,1
2
2,3
5
3,4
7
9,8
17
5,2
7

In [ ]:
s = input().split('-')

for i in s:
  print(i[0], end = '')

Mirko-Slavko
MS

In [ ]:
def rev(x):
  k = list(str(x))[::-1]
  return int(''.join(k))

x, y = map(int, input().split())
print(rev(rev(x) + rev(y)))

123 100
['3', '2', '1']
['0', '0', '1']
['2', '2', '3']
223

In [ ]:
s = input()
c = 0
for i in s:
  if i in ['a', 'e', 'i', 'o', 'u']:
    c += 1
print(c)

baejoon
4

In [ ]:
n = int(input())
for i in range(n):
  s = input()
  print(s[0].upper() + s[1:])

5
powdered Toast Man
Powdered Toast Man
Skeletor
Skeletor
she-Ra Princess of Power
She-Ra Princess of Power
Electra Woman and Dyna Girl
Electra Woman and Dyna Girl
darth Vader
Darth Vader

In [ ]:
print(ord(input()))

0
48

In [ ]:
n = int(input())
k = map(int,input().replace('0',''))
sum = 0
for i in k:
  sum += i

print(sum)

5
54321
15

In [ ]:
s = input()
for i in range(len(s)):
  if (i+1) % 10 == 0 and i > 0:
    print(s[i])
  else:
    print(s[i], end = '')

OneTwoThreeFourFiveSixSevenEightNineTen
OneTwoThre
eFourFiveS
ixSevenEig
htNineTen

In [ ]:
l = map(int, input().split(','))
cnt = 0
for i in l:
  if type(i) == int:
    cnt += 1
print(cnt)

10,20,30,50,100
5

In [ ]:
s = list(input())

alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p','q','r','s','t','u', 'v', 'w', 'x','y','z']
l = []
cnt = 0
for i in alphabet:
    l.append(s.count(i))

for i in l:
  print(i, end =' ')

baekjoon
1 1 0 0 1 0 0 0 0 1 1 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
s = list(input().lower())
s_set = set(s)
dic = {}
for i in s_set:
  dic[i] = s.count(i)

if list(dic.values()).count(max(dic.values())) != 1:
  print('?')
else:
  for key ,value in dic.items():
    if value == max(dic.values()):
      print(key.upper())

baaa
A

In [ ]:
t = int(input())

for i in range(t):
  s1, s2 =map(list, input().split())
  l = []
  for j in range(len(s1)):
    if (ord(s2[j]) - 64) - (ord(s1[j]) - 64) >= 0:
      l.append((ord(s2[j]) - 64) - (ord(s1[j]) - 64))
    else:
      l.append(((ord(s2[j]) - 64) + 26) - (ord(s1[j]) - 64))

  print('Distances: ', end='')
  for k in l:
    print(k , end = ' ')
  print()

5
AAAA ABCD
Distances: 0 1 2 3
ABCD AAAA
Distances: 0 25 24 23
DARK LOKI
Distances: 8 14 19 24
STRONG THANOS
Distances: 1 14 9 25 1 12
DEADLY ULTIMO
Distances: 17 7 19 5 1 16

In [ ]:
n = int(input())
for i in range(n):
  s = input()
  print(s[0] + s[-1])

3
ACDKJFOWIEGHE
AE
O
OO
AB
AB

In [ ]:
while True:
  s = input()
  if s == 'END':
    break
  print(s[::-1])

!edoc doog a tahW
What a good code!
noitacitsufbo
obfustication
erafraw enirambus detcirtsernu yraurbeF fo tsrif eht no nigeb ot dnetni eW
We intend to begin on the first of February unrestricted submarine warfare
lla sees rodroM fo drol eht ,ssertrof sih nihtiw delaecnoC
Concealed within his fortress, the lord of Mordor sees all
END

In [ ]:
n = int(input())
for i in range(n):
  n, m = map(int, input().split())
  cnt = 0
  for j in range(n, m+1):
    cnt += list(str(j)).count('0')
  print(cnt)

3
0 10
2
33 1005
199
1 4
0

In [ ]:
list(str(123)).count('1')

1

In [ ]:
s = input()

In [ ]:
'aaa2'.upper()

'AAA2'

In [ ]:
low = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
up = list(''.join(low).upper())

s = list(input())
for i in s:
  if i in low:
    if (ord(i) + 13) > 122:
      print(chr(ord(i) + 13 - 26) , end = '')
    else:
      print(chr(ord(i) + 13) , end = '')
  elif i in up:
    if (ord(i) + 13) > 90:
      print(chr(ord(i) + 13 - 26) , end = '')
    else:
      print(chr(ord(i) + 13) , end = '')

  else:
    print(i , end = '')

One is 1
Bar vf 1

In [ ]:
n = int(input())
k = 1
for i in range(1, n+1):
  k *= i
cnt = 0
for i in str(k)[::-1]:
  if i == '0':
    cnt += 1
  else:
    break
print(cnt)

3
0

In [ ]:
str(k)[::-1]

'0088263'

In [ ]:
a = [1,2,3]
a.reverse()
print(a)

[3, 2, 1]

In [ ]:
def prime_list(n):
  a = [True] * n

  b = int( n ** 0.5)

  for i in range(2, b+1):
    if a[i] == True:
      for j in range(i + i , n, i):
        a[j] = False

  return [i for i in range(2, n) if a[i] == True]

prime_list(1000000)[-1]

999983

In [ ]:
import math
n = int(input())

def prime_func(n):
  for i in range(2,  int(math.sqrt(n) + 1)):
    if n % i == 0:
      return False
  
  return True

def pal_func(n):
  if str(n) == str(n)[::-1]:
    return True
  
  return False

while True:
  if pal_func(n) == True and prime_func(n) == True and n > 1:
    break
  else:
    n += 1

print(n)

1
2