<a href="https://colab.research.google.com/github/ejrtks1020/baekjoon_practice/blob/main/%EB%B0%B1%EC%A4%80_%ED%8C%8C%EC%9D%B4%EC%8D%AC_1_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A, B, C = map(int, input().split())

5 8 4

In [ ]:
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

1
1
0
0

In [ ]:
A = int(input())
B = int(input())
print(A+B)

4
5

9

In [ ]:
A = input()
B = input()
C = int(A) * int(B[-1])
D = (int(A) * int(B[1]))
E = (int(A) * int(B[0]))
F = C + D * 10 + E * 100
print(C)
print(D)
print(E)
print(F)

472
385
2360
3776
1416
181720

In [ ]:
R1, S = map(int, input().split())
R2 = 2 * S - R1
print(R2)

11 15
19

In [ ]:
M, N = map(int, input().split())
min_sep = M * N - 1
print(min_sep)

3 2
5

In [ ]:
t_case = int(input())
a = []
b = []
c = []
for i in range(t_case):
  A, B= map(int, input().split())
  C = A + B
  a.append(A)
  b.append(B)
  c.append(C)

for i in range(len(c)):
  print(f'Case #{i+1}: {a[i]} + {b[i]} = {c[i]}')

4
1 1
2 2
3 3
4 4
Case #1: 1 + 1 = 2
Case #2: 2 + 2 = 4
Case #3: 3 + 3 = 6
Case #4: 4 + 4 = 8

In [ ]:
import datetime

print(datetime.datetime.now())

2021-09-23 04:17:52.005480

In [ ]:
h , m = map(int, input().split())
time = int(input())

m = m + time

if m >= 60:
  h += int(m / 60)
  m = m % 60
  if h >= 24:
    h -= 24

print(h, m)

23 48
25
0 13

In [ ]:

h , m , s= map(int, input().split())
time = int(input())

h += int(time // 3600)
m += ((time%3600) // 60)
s += ((time%3600) % 60) 

if s >= 60:
  m += (s // 60)
  s = s % 60
if m >= 60:
  h += (m // 60)
  m = m % 60
if h >= 24:
  h = h % 24

print(h, m, s)

0 0 0
172801
0 0 1

In [ ]:
num_music, avg = map(int, input().split())
melody = (avg - 1) * num_music + 1
print(melody)

38 24
875

In [ ]:
num_test = int(input())
s = []
for i in range(num_test):
  total = 0
  x = input().split()
  x[0] = float(x[0])
  for j in range(1, len(x)):
    if x[j] == '@':
      x[j] = x[j-1] * 3
    elif x[j] == '%':
      x[j] = x[j-1] + 5
    elif x[j] == '#':
      x[j] = x[j-1] - 7

  s.append(x[j])

for i in range(len(s)):
  print('{:.2f}'.format(s[i]))

3
3 @ %
10.4 # % @
8 #
14.00
25.20
1.00

In [ ]:
num_test = int(input())
r = []
s = []
for i in range(num_test):
  r2, s2 = input().split()
  r2 = int(r2)
  r.append(r2)
  s.append(s2)

for i in range(num_test):
  temp = ''
  for j in range(len(s[i])):
    temp += s[i][j] * r[i]
  print(temp)

2
3 ABC
5 /HTP
AAABBBCCC
/////HHHHHTTTTTPPPPP

In [ ]:
x =''
print(x + '123' + 'asd')

123asd

In [ ]:
A = input()
s = input()
B = input()

if s == '*':
  print('1' + '0' * (len(A)-1 + len(B)-1)) 
else:
  if len(A) > len(B):
    A = list(A)
    A[-len(B)] = '1'
    print(''.join(A))
  elif len(A) < len(B):
    B = list(B)
    B[-len(A)] = '1'
    print(''.join(B))
  elif len(A) == len(B):
    A = list(A)
    A[0] = '2'
    print(''.join(A))

100
*
10000
1000000

In [ ]:
score = int(input())

if score >= 90 and score <= 100:
  print('A')
elif score >= 80 and score <= 89:
  print('B')
elif score >= 70 and score <= 79:
  print('C')
elif score >= 60 and score <= 69:  
  print('D')
else:
  print('F')

100
A

In [ ]:
A, B, C = map(int, input().split())

if (A >= B and B >= C) or (A <= B and B <= C):
  print(B)
elif (B >= A and A >= C) or (B <= A and A <= C):
  print(A)
elif (B >= C and C >= A) or (B <= C and C <= A):
  print(C)

10 10 10
10

In [ ]:
n = int(input())

def factorization(n):
  x = 2
  while x <= n:
    if n % x == 0:
      print(x)
      n = n / x
    else:
      x += 1

factorization(n)

9
3
3

In [ ]:
n = int(input())
def f(x):
  k = 1
  num = 0
  if x == 1 or x==2:
    return 1
    
  while x != 0:
    if x - k > k or x - k == 0:
      x = x - k
      num = num + 1
    
    k = k + 1

  return num

print(f(n))

200

19

In [ ]:
a = []
sum = 0
for i in range(5):
  a.append(int(input()))
  if a[i] < 40:
    a[i] = 40
  sum += a[i]

print(sum//5)

10
65
100
30
95
68

In [ ]:
n = int(input())

x = []

for i in range(n):
  a ,b = map(int, input().split())
  temp_a = a
  temp_b = b
  num = 1
  
  while(True):
    if temp_a >= b:
      if temp_a % b == 0:
        x.append(temp_a)
        break
      num += 1
      temp_a = a * num
      
    elif a < temp_b:
      if temp_b % a == 0:
        x.append(temp_b)
        break
      num += 1
      temp_b = b * num4

for i in range(n):
  print(x[i])

1
44999 45000
2024955000

In [ ]:
a, b, c = map(int , input().split())

if a == b:
  if b == c:
    print(10000 + a * 1000)
  else:
    print(1000 + a * 100)

elif b == c:
  if a == c:
    print(10000 + a * 1000)
  else:
    print(1000 + b * 100)

elif a == c:
  if b == c:
    print(10000 + a * 1000)
  else:
    print(1000 + c * 100)

else:
  print(max(a,b,c) * 100)

6 2 5
600

In [ ]:
a=sorted(list(map(int,input().split())))
print(a)

9 7 5
[5, 7, 9]

In [ ]:
set([1, 2,2])

{1, 2}

In [ ]:
l = []
while True:
  a ,b = map(int, input().split())
  if a == 0 and b == 0:
    break
  elif a > b:
    l.append('Yes')
  elif a <= b:
    l.append('No')

for i in l:
  print(i)

1 19
4 4
23 14
0 0
No
No
Yes

In [ ]:
k, n, m = map(int, input().split())

if k * n > m:
  print(k*n - m)
else:
  print(0)

300 4 1000
200

In [ ]:
x = []
y = []
for i in range(3):
  a, b = map(int, input().split())
  x.append(a)
  y.append(b)

for i in range(len(x)):
  if x.count(x[i]) == 1:
    x2 = x[i]
  if y.count(y[i]) == 1:
    y2 = y[i]

print(x2, y2)

5 5
5 7
7 5
7 7

In [ ]:
n = int(input())
l = []
for i in range(n):
  k = sorted(list(map(int, input().split())))
  if len(set(k)) == 1:
    l.append(10000+k[0]*1000)
  elif len(set(k)) == 2:
    l.append(1000 + k[1] * 100)
  else:
    l.append(k[2] * 100)

print(max(l))

3
3 3 6
2 2 2
6 2 5
12000

In [ ]:
s = input()

if s == 'F':
  print(0.0)

elif s[0] == 'A':
  if s[1] == '+':
    print(4.3)
  elif s[1] == '0':
    print(4.0)
  elif s[1] == '-':
    print(3.7)

elif s[0] == 'B':
  if s[1] == '+':
    print(3.3)
  elif s[1] == '0':
    print(3.0)
  elif s[1] == '-':
    print(2.7)

elif s[0] == 'C':
  if s[1] == '+':
    print(2.3)
  elif s[1] == '0':
    print(2.0)
  elif s[1] == '-':
    print(1.7)

elif s[0] == 'D':
  if s[1] == '+':
    print(1.3)
  elif s[1] == '0':
    print(1.0)
  elif s[1] == '-':
    print(0.7)

A-
3.7

In [ ]:
h, m = map(int, input().split())
if m - 45 < 0:
  if h == 0:
    h = 24
  h = h - 1
  m = 60 + m - 45
else:
  m = m - 45

print(h, m)

23 40
22 55

In [ ]:
s = input()
p = 10
for i in range(1, len(s)):
  if s[i] == '(':
    if s[i-1] =='(':
      p += 5
    else:
      p += 10

  elif s[i] == ')':
    if s[i-1] =='(':
      p += 10
    else:
      p += 5

print(p)

()()()))(
80

In [ ]:
n = int(input())
l = []
for i in range(n):
  r, e, c = map(int, input().split())
  if r > e - c:
    l.append('do not advertise')
  elif r == e - c:
    l.append('does not matter')
  elif r < e - c:
    l.append('advertise')

for i in l:
  print(i)

3
0 100 70
100 130 30
-100 -70 40
advertise
does not matter
do not advertise

In [ ]:
n = map(int, input())
s = input()
if s.count('A') > s.count('B'):
  print('A')
elif s.count('A') < s.count('B'):
  print('B')
else:
  print('Tie')

8
BBBBAAAB
B

In [ ]:
s = int(input())
l = []
for i in range(s):
  l.append(input())

if l.count('1') > l.count('0'):
  print('Junhee is cute!')
else:
  print('Junhee is not cute!')

3
1
0
0
Junhee is not cute!

In [ ]:
s = input()
k = 1
for i in range(len(s)//2):
  if s[i] != s[-i-1]:
    k = 0
    break

print(k)

level
1

In [ ]:
l = []
while True:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  elif b % a == 0:
    l.append('factor')
  elif a % b == 0:
    l.append('multiple')
  else:
    l.append('neither')

for i in l:
  print(i)

8 16
32 4
17 5
0 0
factor
multiple
neither

In [ ]:
l = []
while True:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  else:
    l.append(a+b)

for i in l:
  print(i)

2 2
2 3
5 5
1 1
0 0
4
5
10
2

In [ ]:
n = int(input())
Q1 = 0
Q2 = 0
Q3 = 0
Q4 = 0
AXIS = 0
for i in range(n):
  x, y = map(int,input().split())
  if x == 0 or y == 0:
    AXIS += 1
  elif x > 0 and y > 0:
    Q1 += 1
  elif x < 0 and y > 0:
    Q2 += 1
  elif x < 0 and y < 0:
    Q3 += 1
  elif x > 0 and y < 0:
    Q4 += 1

print('Q1:', Q1)
print('Q2:', Q2)
print('Q3:', Q3)
print('Q4:', Q4)
print('AXIS:', AXIS)

5
0 0
0 1
1 1
3 -3
2 2
Q1: 2
Q2: 0
Q3: 0
Q4: 1
AXIS: 2

In [ ]:
n = int(input())
l = []
for i in range(n):
  
  s = list(input())
  temp_s = []

  if s[0] == 'O':
    temp_s.append(1)
  else:
    temp_s.append(0)

  for j in range(1, len(s)):
    if s[j-1] == 'X' and s[j] == 'O':
      temp_s.append(1)
    elif s[j-1] == 'O' and s[j] == 'O':
      temp_s.append(temp_s[j-1] + 1)
    elif s[j] == 'X':
      temp_s.append(0)
    
  l.append(sum(temp_s))

for i in l:
  print(i)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
10
9
7
55
30

In [ ]:
[1,2,3].sum()

AttributeError: ignored

In [ ]:
l = []

while True:
  s = int(input())
  if s == -1:
    break
  
  k = 0
  temp = []
  for i in range(1 , s):
    if s % i == 0:
      k += i
      temp.append(str(i))

  if s == k:
    l.append('{} = '.format(s)+ ' + '.join(temp))
  else:
    l.append('{} is NOT perfect.'.format(s))

for i in l:
  print(i)

6
12
28
-1
6 = 1 + 2 + 3
12 is NOT perfect.
28 = 1 + 2 + 4 + 7 + 14

In [ ]:
'123'.join(' + ')

' 123+123 '

In [ ]:
t = int(input())

a, b, c = 300, 60, 10

if t % 10 != 0:
  print(-1)

else:
  x1 = t // a
  x2 = (t % a) // b
  x3 = ((t % a) % b) // c

  print(x1, x2, x3)

100
0 1 4

In [ ]:
n = int(input())
cy = 100
sd = 100
for i in range(n):
  c, s = map(int, input().split())
  if c > s:
    sd -= c
  elif c < s:
    cy -= s

print(cy)
print(sd)

4
5 6
6 6
4 3
5 2
94
91

In [ ]:
t = int(input())
l = []
for i in range(t):
  yon = []
  ko = []

  for j in range(9):
    y, k = map(int, input().split())
    yon.append(y)
    ko.append(k)
  
  if sum(yon) > sum(ko):
    l.append('Yonsei')
  elif sum(yon) < sum(ko):
    l.append('Korea')
  elif sum(yon) == sum(ko):
    l.append('Draw')

for i in l:
  print(i)

1
1 3
2 5
6 1
5 2
1 6
2 1
3 3
4 4
5 1
Yonsei

In [ ]:
sum(ko)

3

In [ ]:
t=int(input())
c = []
for i in range(t):
  n = int(input())

  a = []
  b = []
  for j in range(n):
    s, l = input().split()
    a.append(s)
    b.append(int(l))
    
  ind = b.index(max(b))
  c.append(a[ind])

for i in c:
  print(i)

2
3
Yonsei 10
Korea 100000
Ewha 20
2
Yonsei 1
Korea 1000000
Korea
Korea

In [ ]:
print('Korea\n' * int(input()))

3
Korea
Korea
Korea

In [ ]:
A, B = map(int, input().split())
print(A +B)

9223372036854775807 9223372036854775808
18446744073709551615

In [ ]:
t=int(input())
c = []
for i in range(t):
  n = int(input())

  dict = {}
  for j in range(n):
    s, l = input().split()
    dict[s] = int(l)

  for key, value in dict.items():
    if value == max(dict.values()):
      c.append(key)

for i in c:
  print(i)

2
3
A 20
B 10
C 5
{'A': 20, 'B': 10, 'C': 5}
2
A 10
B 20
{'A': 10, 'B': 20}
A
B

In [ ]:
s = {'s' : 12, 'd': 13}
s.keys()
max(s.items())

('s', 12)

In [ ]:

M = int(input())
N = int(input())
l = []
for i in range(M, N+1):
  if i == 1:
    l.append(i)
  else:
    for j in range(i):
      if i == j * j:
        l.append(i)

if len(l) == 0:
  print(-1)
else:
  print(sum(l))
  print(min(l))

1
1
1
1

In [ ]:
1 for i in range(1):
   print(i)

0

In [ ]:
t = int(input())
l = []
for i in range(t):
  j = int(input())
  dict = {}
  for k in range(j):
    cost, name = input().split()
    dict[int(cost)] = name
  
  l.append(dict[max(dict.keys())])

for i in l:
  print(i)

2
3
10 I
100 N
200 R
2
100 M
99 B
R
M

In [ ]:
n = int(input())
l = []
for i in range(n):
  name, day, month, year = input().split()
  if len(month) == 1:
    month = '0' + month
  if len(day) == 1:
    day = '0' + day
  l.append([name, int(year+month+day)])

l.sort(key = lambda x: x[1])
print(l[len(l)-1][0])
print(l[0][0])

5
Mickey 1 10 1991
Alice 30 12 1990
Tom 15 8 1993
Jerry 18 9 1990
Garfield 20 9 1990
Tom
Jerry

In [ ]:
p_hour, p_minuite, p_second = map(int, input().split(':'))
s_hour, s_minuite, s_second = map(int, input().split(':'))

if p_hour > s_hour:
  s_hour += 24

if p_second > s_second:
  s_second += 60
  if s_minuite == 0:
    s_minuite += 60
    if s_hour == 0:
      s_hour += 24
    s_hour -= 1
  s_minuite -= 1

if p_minuite > s_minuite:
  s_minuite += 60
  if s_hour == 0:
    s_hour += 24
  s_hour -= 1

h = str(s_hour - p_hour)
m =str(s_minuite - p_minuite)
s = str(s_second - p_second)
if len(h) == 1:
  h = '0' + h
if len(m) == 1:
  m = '0' + m
if len(s) == 1:
  s = '0' + s
print(h + ':' + m + ':' + s)

13:52:30
14:00:00
00:07:30